.offer {
	margin: 211px 0 117px 0;
	display: flex;
	flex-wrap: wrap;
	gap: 26px;

	@include sm {
		flex-direction: column;
		margin-top: 100px;
	}

	&__item {
		width: calc(50% - 13px);
		position: relative;
		overflow: hidden;

		@include sm {
			width: 100%;
		}

		&:hover &__img {
			transform: scale(1.2);
			overflow: hidden;
		}

		&:hover &__link {
			i {
				background-position: -100% 0;
				color: $color2;
				color: $color1;
			}
		}

		&__img {
			width: 100%;
			transition: 0.2s;

			@include sm {
				height: 260px;
			}

			@include md {
				height: 350px;
			}

			@include lg {
				height: 320px;
			}

			@include xl {
				height: 450px;
			}

			&:hover {
				transform: scale(1.2);
				overflow: hidden;
			}
		}

		&__container {
			position: absolute;
			top: 23px;
			left: 21px;
			display: flex;
			flex-direction: column;
			background: $color1;
			width: 178px;
			height: 127px;
			padding: 19px;
			white-space: pre-line;

			@include sm {
				width: 150px;
			}

			&__square {
				position: absolute;
				top: 20px;
				left: 21px;
				width: 34px;
				height: 34px;
				background: $color4;
			}

			&__header {
				position: absolute;
				top: 29px;
				left: 29px;
				color: $color2;
				font-size: 22px;
				font-weight: bold;
				line-height: 30px;
				letter-spacing: -0.8px;

				@include sm {
					font-size: 18px;
				}

				@include md {
					font-size: 18px;
				}

				@include xl {
					font-size: 26px;
				}
			}

			&__line {
				margin: 58px 0 9px 10px;
				width: 39px;
				border-top: 5px solid $color2;

				@include xl {
					width: 50px;
				}
			}

			&__desc {
				margin-left: 10px;
				color: $color3;
				font-size: 13px;

				@include sm {
					font-size: 11px;
				}

				@include xl {
					font-size: 15px;
				}
			}
		}

		&__container--topSmall {
			height: 157px;
			width: 195px;

			@include sm {
				height: 140px;
				width: 160px;
			}

			@include md {
				white-space: normal;
				height: 150px;
				width: 160px;
			}

			@include xl {
				width: 220px;
			}

			.offer__item__container__line {
				margin-top: 86px;
			}
		}

		&__container--bottomSmall {
			top: 108px;
			height: 154px;

			@include sm {
				top: auto;
				height: 120px;
				width: 140px;
				bottom: 15px;
			}

			@include xl {
				top: auto;
				bottom: 40px;
				width: 200px;
			}

			.offer__item__container__line {
				margin-top: 87px;

				@include sm {
					margin-top: 50px;
				}
			}
		}

		&__container--bottomBig {
			top: 108px;
			height: 154px;
			width: 260px;

			@include sm {
				font-size: 15px;
				white-space: normal;
				top: auto;
				height: 125px;
				width: 160px;
				bottom: 10px;
			}

			@include md {
				width: 160px;
				white-space: normal;
			}

			@include lg {
				width: 200px;
				height: 170px;
			}

			@include xl {
				top: auto;
				bottom: 40px;
				white-space: normal;
			}

			.offer__item__container__line {
				margin-top: 87px;
				@include sm {
					margin-top: 75px;
				}

				@include lg {
					margin-top: 110px;
				}
			}
		}

		&__link {
			position: absolute;
			bottom: 0;
			right: 0;

			.arrow {
				border-left: 0;
				border-top: 0;
				i {
					height: 101px;
					width: 100px;
					line-height: 101px;
					font-size: 24px;

					@include sm {
						height: 51px;
						width: 50px;
						line-height: 51px;
						font-size: 20px;
					}

					@include md {
						height: 61px;
						width: 60px;
						line-height: 61px;
						font-size: 20px;
					}
				}
			}
		}
	}
}
